<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ $1.php [L]
</IfModule>

# Mengizinkan metode POST
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
</IfModule>
